/* MEDIA QUERIES:MIN ==================== */
@media (min-width: 992px) {
  /* COMPONENT */
  /* DEFAULT ==================== */

  /* HEADER ==================== */

  /* FOOTER ==================== */

  /* SECTION ==================== */

  /* PAGE ==================== */
  /* PAGE: INDEX */
}

/* MEDIA QUERIES:MAX ==================== */
@media (max-width: 991px) {
  /* COMPONENT */
  /* DEFAULT ==================== */

  /* HEADER ==================== */

  /* FOOTER ==================== */

  /* SECTION ==================== */

  /* PAGE ==================== */
  /* PAGE: INDEX */
  /* Index Hero */
  [data-section='index-hero'] {
    height: calc(100svh - 6.816rem);
  }

  /* Location Selector */
  .location-selector {
    max-width: unset;
    animation-delay: 10s;
  }

  .location-selector__inner {
    padding: var(--spacing-sm) var(--spacing-3xs) var(--spacing-2sm);
  }

  /* Motto Marquee */
  .motto-marquee .motto-marquee__strip {
    width: auto;
    padding: 0 var(--spacing-lg);
  }

  /* Flexible Section */
  [data-section='flexible'] {
    flex-direction: column;
    transition: background-color var(--duration) var(--timing-function);
  }

  [data-section='flexible'] .text-slide,
  [data-section='flexible'] .media-slide {
    width: 100%;
  }

  [data-section='flexible'] .slide-item {
    aspect-ratio: unset;
  }

  [data-section='flexible'] .text-slide .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  [data-section='flexible'] .text-slide .slide-item {
    flex-grow: 1;
  }

  [data-section='flexible'] .text-slide .slide-item-inner {
    min-height: 100vw;
    gap: var(--spacing-sm);
    padding-top: var(--spacing-4xl);
    padding-bottom: var(--spacing-4xl);
    padding-right: var(--spacing-container);
  }

  [data-section='flexible'] .text-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
    --swiper-pagination-bottom: var(--spacing-4lg);
  }

  [data-section='flexible'] .media-slide .slide-item {
    height: 100vw;
  }

  [data-section='flexible'] .entry-content {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
  }
}
