/* MEDIA QUERIES:MIN ==================== */
@media (min-width: 992px) {
  /* COMPONENT */
  /* DEFAULT ==================== */

  /* HEADER ==================== */

  /* FOOTER ==================== */

  /* SECTION ==================== */

  /* PAGE ==================== */
  /* PAGE: INDEX */
}

/* MEDIA QUERIES:MAX ==================== */
@media (max-width: 991px) {
  /* COMPONENT */
  /* DEFAULT ==================== */

  /* HEADER ==================== */

  /* FOOTER ==================== */

  /* SECTION ==================== */

  /* PAGE ==================== */
  /* PAGE: INDEX */
  /* Index Hero */
  [data-section='index-hero'] {
    height: calc(100svh - 6.816rem);
  }

  /* Location Selector */
  .location-selector {
    max-width: unset;
    animation-delay: 10s;
  }

  .location-selector__inner {
    padding: var(--spacing-sm) var(--spacing-3xs) var(--spacing-2sm);
  }

  /* Motto Marquee */
  .motto-marquee .motto-marquee__strip {
    width: auto;
    padding: 0 var(--spacing-lg);
  }
}
