/* MEDIA QUERIES:MIN ==================== */
@media (min-width: 992px) {
  /* COMPONENT */
  /* DEFAULT ==================== */

  /* HEADER ==================== */

  /* FOOTER ==================== */

  /* SECTION ==================== */

  /* PAGE ==================== */
  /* PAGE: INDEX */
}

/* MEDIA QUERIES:MAX ==================== */
@media (max-width: 991px) {
  /* COMPONENT */
  /* DEFAULT ==================== */

  /* HEADER ==================== */

  /* FOOTER ==================== */

  /* SECTION ==================== */

  /* PAGE ==================== */
  /* PAGE: INDEX */
  /* Index Hero */
  [data-section='index-hero'] {
    height: calc(100svh - 6.816rem);
  }

  /* Location Selector */
  .location-selector {
    max-width: unset;
    animation-delay: 10s;
  }

  .location-selector__inner {
    padding: var(--spacing-sm) var(--spacing-3xs) var(--spacing-2sm);
  }

  /* Motto Marquee */
  .motto-marquee .motto-marquee__strip {
    width: auto;
    padding: 0 var(--spacing-lg);
  }

  /* Scroll Shape */
  [data-card='hexagon-1'] .card-media {
    width: 24.2rem;
  }

  [data-card='hexagon-1'] .card-content {
    padding-left: 0;
  }

  [data-card='hexagon-1'] .card-desc,
  [data-card='hexagon-1'] .card-ttl {
    max-width: 24.2rem;
  }

  /* Flexible Section */
  [data-section='flexible'] {
    flex-direction: column;
    transition: background-color var(--duration) var(--timing-function);
  }

  [data-section='flexible'] .text-slide,
  [data-section='flexible'] .media-slide {
    width: 100%;
  }

  [data-section='flexible'] .slide-item {
    aspect-ratio: unset;
  }

  [data-section='flexible'] .text-slide .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  [data-section='flexible'] .text-slide .slide-item {
    flex-grow: 1;
  }

  [data-section='flexible'] .text-slide .slide-item-inner {
    min-height: 100vw;
    gap: var(--spacing-sm);
    padding-top: var(--spacing-4xl);
    padding-bottom: var(--spacing-4xl);
    padding-right: var(--spacing-container);
  }

  [data-section='flexible'] .text-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
    --swiper-pagination-bottom: var(--spacing-4lg);
  }

  [data-section='flexible'] .media-slide .slide-item {
    height: 100vw;
  }

  [data-section='flexible'] .entry-content {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
  }

  /* Fullscreen Slide */
  [data-section='fullscreen-slide'] .container {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
    -webkit-mask-box-image: -webkit-linear-gradient(
      0deg,
      transparent 0%,
      white var(--mask-box-image-offset),
      white calc(100% - var(--mask-box-image-offset)),
      transparent 100%
    );
  }

  [data-section='fullscreen-slide'] .swiper .swiper-pagination {
    position: static;
    margin-top: var(--spacing-md);
  }

  [data-section='fullscreen-slide'] .swiper .swiper-slide {
    padding-left: var(--spacing-container);
    padding-right: var(--spacing-container);
  }

  [data-section='fullscreen-slide'] .membership-item {
    flex-direction: column;
    gap: var(--spacing-2lg);
  }

  [data-section='fullscreen-slide'] .membership-item .item-content {
    width: 100%;
  }

  [data-section='fullscreen-slide'] .membership-item .item-media {
    width: 100%;
    aspect-ratio: 1.810714286;
  }

  [data-section='fullscreen-slide'] .item-media .item-media-inner {
    height: 100%;
    width: 100%;
    aspect-ratio: unset;
  }

  [data-section='fullscreen-slide'] .item-content {
    gap: var(--spacing-2sm);
    padding-right: 0;
  }

  [data-section='fullscreen-slide'] .item-header {
    gap: var(--spacing-xs);
  }

  [data-section='fullscreen-slide'] .item-header .item-desc {
    font-weight: 500;
  }

  /* BINGO */
  .bingo-cursor {
    display: none;
  }

  [data-section='bingo'] .bingo-interactive {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: var(--spacing-2sm);
  }

  [data-section='bingo'] .bingo-stamps-pool {
    width: 100%;
    height: max(20.512820513vw, 8rem);
    margin-top: var(--spacing-4xs);
    aspect-ratio: unset;
    grid-column: 1;
    grid-row: 3;
  }

  [data-section='bingo'] .bingo-stamps-pool-slot {
    width: max(20.512820513vw, 8rem);
  }

  [data-section='bingo'] .bingo-grid {
    grid-row: 2;
  }

  [data-section='bingo'] .bingo-grid-item {
    font-size: 4vw;
  }
}
