/* HEADER ==================== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  --bg-color: var(--color-dark-brown);
  --color: var(--color-beige);
  --header-height-start: 8rem;
  --header-height-scroll: 7.8rem;
  --header-content-height-scroll: 5.8rem;
  --header-content-offset-scroll: var(--spacing-sm);
}

.header-nav {
  color: var(--color);
  height: var(--header-height-start);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  transition: var(--duration) var(--timing-function);
}

.header-nav > * {
  flex-shrink: 0;
}

/* Logo */
.header-logo {
  padding: var(--spacing-md) var(--spacing-2lg);
  background-color: var(--bg-color);
  transition: var(--duration) var(--timing-function);
}
.header-logo .logo-wrapper {
  display: block;
  width: auto;
  height: 8.9rem;
  aspect-ratio: 0.887640449;
  transition: var(--duration-x2) cubic-bezier(0.5, 1, 0.89, 1);
}
.header-logo .logo-wrapper .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* MENU */
.header-menu {
  height: 100%;
  flex-grow: 1;
  transition: var(--duration) var(--timing-function);
}

.header-menu .menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-3xs) var(--spacing-sm);
  background-color: var(--bg-color);
  transition: var(--duration-x2) var(--timing-function);
}
.header-menu .menu a {
  display: inline-block;
  padding: var(--spacing-6xs);
}

/* LOCATION */
.header-cta {
  height: 100%;
  width: 16.6rem;
  transition: var(--duration) var(--timing-function);
  position: relative;
}

.header-location {
  height: 100%;
  width: 100%;
}

.header-location .location-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  transition: var(--duration-x2) var(--timing-function);
}

.header-location .location-trigger .ic {
  transition: transform var(--duration-x2) var(--timing-function);
}

.header-location.is-open .location-trigger .ic {
  transform: rotate(180deg);
}

.header-location .location-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 0fr;
  pointer-events: none;
  transition: grid-template-rows var(--duration-x2) var(--timing-function);
}

.header-location.is-open .location-panel {
  grid-template-rows: 1fr;
  pointer-events: auto;
}

.header-location .location-panel-inner {
  min-height: 0;
  overflow: hidden;
}

.header-location .location-panel ul {
  padding: var(--spacing-xs) var(--spacing-2sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xs);
}

.header-location .location-panel ul a {
  display: inlin-block;
  padding: var(--spacing-6xs);
}

.header-location .location-panel .location-label {
  text-decoration: underline;
  padding: 0 var(--spacing-6xs);
}

@media (min-width: 992px) {
  html.page-scrolling .header-nav {
    height: var(--header-height-scroll);
    padding: 0 var(--spacing-lg);
  }

  html.page-scrolling .header-logo {
    opacity: 0;
    padding: 0;
    margin-top: var(--header-content-offset-scroll);
    /* width: 15.5rem; */
  }
  html.page-scrolling .header-logo .logo-wrapper {
    height: 7rem;
  }

  html.page-scrolling .header-menu .menu {
    margin-top: var(--header-content-offset-scroll);
    width: 66rem;
    height: var(--header-content-height-scroll);
  }

  html.page-scrolling .header-location .location-trigger {
    margin-top: var(--header-content-offset-scroll);
    width: 100%;
    height: var(--header-content-height-scroll);
  }

  .header-menu .panel,
  .header-menu .panel-scroll,
  .header-menu .panel-body {
    height: 100%;
  }

  .header-menu .panel-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {
}

/* HAMBURGER ====================*/
.hamburger {
  --hamburger-size: 2rem;
  --hamburger-stroke-width: 0.15rem;
  --rgb: var(--color-white-rgb);
  position: relative;
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
}
.hamburger .bars {
  display: block;
  width: var(--hamburger-size);
  height: var(--hamburger-size);
  position: relative;
  transform: rotate(0deg);
  transition: var(--duration) var(--timing-function);
  cursor: pointer;
}
.hamburger .bars > .bar {
  display: block;
  position: absolute;
  width: 100%;
  height: var(--hamburger-stroke-width);
  border-radius: 0.1rem;
  background: rgba(var(--rgb), 1);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: var(--duration) var(--timing-function);
}
.hamburger .bars > .bar:nth-child(1) {
  top: calc((var(--hamburger-size) / 4) - (var(--hamburger-stroke-width) / 2));
}
.hamburger .bars > .bar:is(:nth-child(2), :nth-child(3)) {
  top: calc((var(--hamburger-size) / 2) - (var(--hamburger-stroke-width) / 2));
}
.hamburger .bars > .bar:nth-child(4) {
  top: calc((var(--hamburger-size) / 4) * 3 - (var(--hamburger-stroke-width) / 2));
}
html.header-menu-enabled .hamburger .bars > .bar:is(:nth-child(1), :nth-child(4)) {
  top: calc((var(--hamburger-size) / 2) - (var(--hamburger-stroke-width) / 2));
  left: 50%;
  width: 0%;
}
html.header-menu-enabled .hamburger .bars > .bar:nth-child(2) {
  transform: rotate(45deg);
}
html.header-menu-enabled .hamburger .bars > .bar:nth-child(3) {
  transform: rotate(-45deg);
}
