/* HEADER ==================== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  --bg-color: var(--color-dark-brown);
  --color: var(--color-beige);
  --header-height-start: 8rem;
  --header-height-scroll: 8rem;
  --header-content-height-scroll: 4.8rem;
  --header-content-offset-scroll: var(--spacing-sm);
  --header-content-offset-scroll: 0;
  --rgb: var(--color);
  --hover-rgb: var(--color);
  transition: transform var(--duration) var(--timing-function);
  pointer-events: none;
}

.header-nav {
  color: var(--color);
  height: var(--header-height-start);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  transition: var(--duration) var(--timing-function);
}

.header-nav > * {
  flex-shrink: 0;
}

/* Logo */
.header-logo {
  width: 15.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-2lg);
  background-color: var(--bg-color);
  transition: var(--duration-x2) var(--timing-function);
}
.header-logo .logo-wrapper {
  display: block;
  width: auto;
  height: 8.9rem;
  aspect-ratio: 0.887640449;
  transition: var(--duration-x2) cubic-bezier(0.5, 1, 0.89, 1);
  pointer-events: auto;
}
.header-logo .logo-wrapper .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* MENU */
html.no-touchevents #header a:hover {
  opacity: 1;
}

.header-menu {
  height: 100%;
  flex-grow: 1;
  transition: var(--duration) var(--timing-function);
}

.header-menu .menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
  padding: var(--spacing-3xs) var(--spacing-sm);
  background-color: var(--bg-color);
  transition: var(--duration-x2) var(--timing-function);
  pointer-events: auto;
}
.header-menu .menu a {
  display: inline-block;
  padding: var(--spacing-6xs) 0;
  transition: opacity var(--duration) var(--timing-function);
}

/* LOCATION */
.header-cta {
  height: 100%;
  width: 18rem;
  transition: var(--duration-x2) var(--timing-function);
  position: relative;
  display: flex;
  align-items: center;
}

.header--branch .header-cta {
  width: 15rem;
}

.header-location {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  transition: var(--duration-x2) var(--timing-function);
  position: relative;
  pointer-events: auto;
}

.header-location .location-trigger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  transition: var(--duration-x2) var(--timing-function);
  width: fit-content;
  height: auto;
  position: absolute;
  right: var(--spacing-2sm);
  top: 50%;
  transform: translate(0%, -50%);
  text-wrap: nowrap;
}

.header-location .location-trigger > * {
  transition: var(--duration-x2) var(--timing-function);
}

html.no-touchevents .header-location .location-trigger:hover > * {
  opacity: 0.75;
}

.header-location .location-trigger .ic {
  transition: var(--duration-x2) var(--timing-function);
}

.header-location.is-open .location-trigger .ic {
  transform: rotate(180deg);
}

.header-location .location-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 0fr;
  pointer-events: none;
  transition: grid-template-rows var(--duration-x2) var(--timing-function);
}

.header-location.is-open .location-panel {
  grid-template-rows: 1fr;
  pointer-events: auto;
}

.header-location .location-panel-inner {
  min-height: 0;
  overflow: hidden;
}

.header-location .location-panel ul {
  padding: var(--spacing-xs) var(--spacing-2sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xs);
  transition: padding var(--duration) var(--timing-function);
}

html.page-scrolling .header-location .location-panel ul {
  padding: var(--spacing-xs) var(--spacing-sm);
}

.header-location .location-panel ul a {
  display: inline-block;
  padding: var(--spacing-6xs) 0;
}

.header-location .location-panel ul a.is-current::before {
  width: 100%;
}

.header-menu-ctrl {
  pointer-events: auto;
}

@media (min-width: 992px) {
  html.page-scrolling--down #header {
    transform: translateY(-100%);
  }

  html.page-scrolling .header-nav {
    height: var(--header-height-scroll);
    padding: 0 var(--spacing-lg);
  }

  html.page-scrolling .header-logo {
    opacity: 0;
    padding: 0;
    margin-top: var(--header-content-offset-scroll);
    margin-top: 3.2rem;
  }
  html.page-scrolling .header-logo .logo-wrapper {
    height: 7rem;
  }

  html.page-scrolling .header-menu .menu {
    margin-top: var(--header-content-offset-scroll);
    width: 66rem;
    height: var(--header-content-height-scroll);
  }

  html.page-scrolling .header--branch .header-menu .menu {
    width: 50rem;
  }

  html.page-scrolling .header-cta {
    width: 18rem;
  }

  html.page-scrolling .header--branch .header-cta {
    width: 15rem;
  }

  html.page-scrolling .header-location .location-trigger {
    right: 50%;
    transform: translate(50%, -50%);
  }

  html.page-scrolling .header-location {
    margin-top: var(--header-content-offset-scroll);
    width: 100%;
    height: var(--header-content-height-scroll);
  }

  .header-menu .panel,
  .header-menu .panel-scroll,
  .header-menu .panel-body {
    height: 100%;
  }

  .header-menu .panel-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  #header {
    --header-height-start: 6rem;
  }

  .header-nav > * {
    position: relative;
    z-index: 2;
  }

  /* Logo */
  .header-logo {
    padding: var(--spacing-xs);
    min-width: unset;
    width: 8.9rem;
  }
  .header-logo .logo-wrapper {
    height: 6.6rem;
  }
  .header-logo .logo-wrapper.logo-wrapper--branch {
    height: 5.4rem;
  }

  /* Header Cta */
  .header-cta {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-sm);
    padding-right: var(--spacing-container);
    background-color: var(--bg-color);
    flex-grow: 1;
  }

  .header-location-mobile {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-xs);
    padding: var(--spacing-md) var(--spacing-container);
    position: relative;
  }

  .header-location-mobile .location-trigger {
    gap: var(--spacing-2xs);
    position: static;
  }

  .header-location-mobile .location-trigger-wrapper {
    position: relative;
  }

  .header-location-mobile .location-trigger-inner {
    display: flex;
    align-items: center;
    gap: var(--spacing-4xs);
    position: relative;
    margin-top: 0.3rem;
  }

  .header-location .location-panel {
    left: 0;
    right: auto;
    padding-top: var(--spacing-4xs);
    padding-bottom: var(--spacing-lg);
    width: max-content;
  }

  .header-location .location-panel ul {
    padding-top: var(--spacing-5xs);
    gap: var(--spacing-4xs);
    padding: 0 !important;
    padding-top: var(--spacing-6xs) !important;
    align-items: flex-start;
  }

  .header-location .location-panel ul a {
    padding-left: 0;
    text-wrap: nowrap;
  }

  /* Header Menu */
  .header-nav > .header-menu {
    flex-grow: 0;
    position: relative;
    z-index: 1;
    background-color: var(--bg-color);
  }

  .panel {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: var(--bg-color);
    overflow: hidden;
    z-index: 95;
    pointer-events: none;
    transition: transform 1.35s cubic-bezier(0.22, 1, 0.36, 1);
    transform: translateY(-100%);
  }

  html.header-menu-enabled .panel {
    pointer-events: auto;
    transform: translateY(0);
  }

  .panel-scroll {
    --mask-box-image-offset: var(--spacing-md);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    -webkit-mask-box-image: -webkit-linear-gradient(
      -90deg,
      transparent 0%,
      white var(--mask-box-image-offset),
      white calc(100% - var(--mask-box-image-offset)),
      transparent 100%
    );
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .panel-body {
    min-height: 100dvh;
    padding: calc(9.8rem + var(--spacing-xs)) var(--spacing-container) var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-menu .menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2sm);
    align-items: center;
    text-align: center;
  }

  .header-menu-ctrl {
    display: flex;
    align-items: center;
  }
}

/* HAMBURGER ====================*/
.hamburger {
  --hamburger-size: 2.3rem;
  --hamburger-stroke-width: 0.1rem;
  position: relative;
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
}
.hamburger .bars {
  display: block;
  width: var(--hamburger-size);
  height: var(--hamburger-size);
  position: relative;
  transform: rotate(0deg);
  transition: var(--duration) var(--timing-function);
  cursor: pointer;
}
.hamburger .bars > .bar {
  display: block;
  position: absolute;
  width: 100%;
  height: var(--hamburger-stroke-width);
  border-radius: 0.1rem;
  background: var(--color);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: var(--duration) var(--timing-function);
}
.hamburger .bars > .bar:nth-child(1) {
  top: calc((var(--hamburger-size) / 4) - (var(--hamburger-stroke-width) / 2));
}
.hamburger .bars > .bar:is(:nth-child(2), :nth-child(3)) {
  top: calc((var(--hamburger-size) / 2) - (var(--hamburger-stroke-width) / 2));
}
.hamburger .bars > .bar:nth-child(4) {
  top: calc((var(--hamburger-size) / 4) * 3 - (var(--hamburger-stroke-width) / 2));
}
html.header-menu-enabled .hamburger .bars > .bar:is(:nth-child(1), :nth-child(4)) {
  top: calc((var(--hamburger-size) / 2) - (var(--hamburger-stroke-width) / 2));
  left: 50%;
  width: 0%;
}
html.header-menu-enabled .hamburger .bars > .bar:nth-child(2) {
  transform: rotate(45deg);
}
html.header-menu-enabled .hamburger .bars > .bar:nth-child(3) {
  transform: rotate(-45deg);
}
